.signup-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    width: 100%;
}
.signup-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1px;
 
    
}
.signup-container label {
    margin-bottom: 5px;
    font-weight: bold;
}
.signup-container input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;



    
}
.signup-container button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}
.signup-container button:hover {
    background-color: #218838;
}  
.signup-container h1 {
    text-align: center;
    margin-bottom: 20px;
}
.signup-container p {
    text-align: center;
    margin-top: 15px;
}
.signup-container p a {
    color: #007bff;
    text-decoration: none;
}
.signup-container p a:hover {
    text-decoration: underline;
}
#email, #password ,#username {
    width: 100%;
    box-sizing: border-box;
}
