.status-container{
    width: max-content;
    padding: 0 8px;
    border-radius: 8px;
}

.status-container.grey{
    background: rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);
}

.status-container.blue{
    background: rgba(0, 119, 255, 0.2);
    border: 1px solid rgba(0, 119, 255);
}

.status-container.green{
    background: rgba(0, 255, 102, 0.2);
    border: 1px solid rgba(0, 255, 102);
}